.modal-body {
    background: rgba(0, 29, 36, 0.952) !important;
    color: #fff;
}

.btnAddOccupant {
    background: rgb(180, 118, 19);
}

.btnCancel {
    padding: .19em 1em !important;
    border-radius: 0;
    border: 2px solid rgba(0, 29, 36, 0.952) !important;
}

.btnAdd {
    border-radius: 0;
    padding: .2em 1em !important;
    color: #fff !important;
}